@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(9, 9, 77);
  font-size: 16px;
}

h1 {
  font-size: 30px;
  color: rgb(42, 42, 100);
}

h3 {
  font-size: 20px;
  margin: 8px 0px;
}

p {
  padding: 4px;
  font-size: 14px;
  line-height: 24px;
}

.btn {
  width: 160px;
  padding: 12px 5px;
  font-size: 14px;
  border-radius: 5px;
  margin: 14px 2px;
  border: none;
}

.active {
  color: #fdcc0d;
}

.section-pd {
  padding: 80px 100px;
}

.section-mr {
  margin: 80px 100px 0;
}

/****************************************/

/*************************** Home *******************************/

/** navbar **/

.mob-nav {
  display: none;
}

#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 15px 120px 15px 90px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#navbar .logo {
  height: 60px;
  cursor: pointer;
}

#navbar .logo img {
  height: 100%;
}

#navbar nav ul li a {
  padding-left: 25px;
  transition: 0.5s;
  font-size: 14px;
}

#navbar nav ul li:hover a {
  color: #fdc93b;
}
#navbar nav ul {
  display: flex;
}

li a#join {
  border: 1px solid black;
  margin-left: 20px;
  padding: 10px !important;
  width: 120px;
  border-radius: 5px;
  transition: 0.5s;
}

li a#join:hover {
  background-color: rgb(21, 21, 100);
  color: #fff !important;
}

li a#join {
  align-self: center;
}

/*************************************** hero section **************************************/

#hero {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(./images/back.jpg);
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  font-weight: 600;
}

#hero p span {
  display: block;
  text-align: center;
}

#hero :is(h1, p) {
  color: #fff;
  text-align: start;
}

.hero-btn button {
  color: #fff;
  cursor: pointer;
}

.btn-1 {
  background-color: rgb(21, 21, 100);
}

.btn-2 {
  background-color: #fdc93b;
}
:is(.btn-1, .btn-2) {
  transition: 0.8s ease background-color;
}
:is(.btn-1, .btn-2):hover {
  background-color: #fff;
  color: #000;
}

/************************************ features **********************************************/

#feature .feature-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}

#feature > :is(h1, p) {
  text-align: center;
}

.fe-box i {
  color: rgb(44, 44, 80);
  font-size: 30px;
}

.fe-box h3 {
  color: rgb(46, 46, 59);
}

.fe-box {
  width: 30%;
  background-color: #e9e9f8;
  padding: 30px;
  margin-right: 20px;
}

/********************************************** course ***************************************/
#course {
  padding: 100px 80px 100px;
}

#course > :is(h1, p) {
  text-align: center;
}

#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px 15px;
  margin: 50px 0px;
}

#course .course-box .course {
  position: relative;
  width: 100%;
  background-color: #e9e9f8;
}

.img-container {
  width: inherit;
}

#course .course .img-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 180px;
}

.course-box .price-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76448a;
  color: #fff;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
  padding: 4px;
}

.course-box span {
  font-size: 13px;
}

.course-box p {
  font-weight: 700;
  font-size: 15px;
  padding: 3px 0px;
}

.course .course-detail {
  padding: 30px 15px;
  width: 100%;
}

.course .course-detail .rating span {
  color: #626567;
}

.course-detail .rating i {
  margin-top: 6px;
  font-size: 14px;
  color: #fdcc0d;
}

/*********************************** registration *************************************/

#registration {
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url(./images/signup.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
}

#registration .countdown h1 {
  padding: 4px 0px 20px 0;
}

.countdown :is(h1, p) {
  color: #fff;
}

#registration .countdown .timer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.countdown .timer span {
  padding: 15px;
  width: 95px;
  margin: 15px 10px 0px 0px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}

#registration .login {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 25px;
  width: 30%;
  height: 365px;
}

#registration .login h3 {
  font-size: 18px;
  padding-bottom: 5px;
}

#registration .login input {
  margin-bottom: 30px;
  border: 1px #76448a solid;
  padding: 10px 6px;
}

#registration .login input:focus {
  outline: none;
}

#registration .login button {
  background-color: #fdcc0d;
  color: #fff;
  margin: 0px 2px;
}

/*********************************** experts *************************************/

#experts > :is(h1, p) {
  text-align: center;
}

#experts .profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

#experts .profile .prof {
  height: 300px;
  width: 20%;
  margin-right: 15px;
  background-color: #fafaf1;
  padding: 20px 15px;
}

.prof :is(p, .socials) {
  text-align: center;
  margin-bottom: 6px;
}

.socials i {
  border: 1px solid rgb(42, 42, 100);
  color: rgb(42, 42, 100);
  padding: 8px;
  margin-top: 16px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.socials i:hover {
  background-color: rgb(42, 42, 100);
  color: #fff;
}

.prof p:first-of-type {
  font-weight: 700;
}

#experts .profile .prof .image {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

#experts .profile .prof img {
  width: 120px;
}

/*********************************** footer *************************************/

#footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #101c32;
  padding: 90px 100px;
}
.col {
  height: 40vh;
}

#footer .col span {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

#footer .col a {
  color: #a6acaf;
}

#footer .col a:hover {
  color: #fff;
}

#footer .col a p {
  padding-bottom: 13px;
  font-size: 14px;
  transition: 0.5s;
  text-decoration: none;
}

.col .mail {
  display: flex;
}

.col .mail {
  margin: 12px 3px 0px 0px;
}

.col .mail input {
  outline: none;
  border: none;
  background-color: #334f6c;
  font-size: 14px;
  color: #fff;
  padding: 8px 6px;
  margin-right: 3px;
  width: 200px;
}

.col .mail input::placeholder {
  padding: 4px 3px;
}
.col .mail button {
  width: 110px;
  padding: 12px 12px;
  background-color: #fdcc0d;
  border: none;
  transition: 0.5s;
}

.col .mail button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: #fff;
}

.footer-bottom .socials i {
  color: #fff;
  background-color: #626567;
  padding: 12px 10px;
  margin-right: 4px;
  transition: 0.5s;
}

.footer-bottom .socials i:hover {
  color: #626567;
  background-color: #fff;
  cursor: pointer;
}

/**************************************** About Us *****************************************/

#banner {
  background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.3)),
    url(./images/back1.jpg) no-repeat center;
  background-size: cover;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner h1 {
  color: #fff;
  font-size: 27px;
}

#Details .course-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 50px 0px;
}

#Details .course-detail .image-container {
  width: 50%;
  height: 450px;
}

#Details .course-detail .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Details .course-detail .course-info {
  width: 40%;
}

.course-detail .course-info p {
  color: #626567;
}

.course-detail .course-info .cinfo {
  display: flex;
  align-items: center;
}

.cinfo .description {
  margin-left: 15px;
  padding: 15px 0;
}

/***** Trust *****/
#trust {
  text-align: center;
  margin: 80px 80px 120px 80px;
}

#trust .image-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

#trust .image-container img {
  width: 80px;
}

/**************************************** Blog *********************************************/

#blog {
  display: flex;
  justify-content: space-evenly;
}

#blog h3 {
  font-size: 17px;
}

#blog .courses {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#blog .courses .course {
  margin-bottom: 40px;
}

#blog .course .image {
  width: 100%;
}

#blog .course .image img {
  width: 100%;
  border-radius: 15px;
}

#blog .categories {
  width: 30%;
}

#blog .course-desc a {
  display: block;
  width: 120px;
  text-align: center;
  background-color: rgb(44, 44, 80);
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

/*** Sblog ****/

#sblog .course {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sblog .course :is(.image, .course-desc) {
  width: 50%;
}

#sblog .course .image img {
  width: 100%;
  border-radius: 10px;
}

#sblog .course-desc p {
  color: #626567;
  text-align: justify;
}

#sblog .course-desc a {
  display: block;
  margin-top: 20px;
  background-color: rgb(21, 21, 100);
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/**************************************** Course *******************************************/

/************* Course Detail ***/

.inner-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-detail .image-container {
  width: 60%;
}

.inner-detail img {
  width: 100%;
  border-radius: 10px;
}

.inner-detail .enroll {
  width: 25%;
  padding: 35px 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
}

.inner-detail .enroll h3 {
  font-size: 16px;
  margin-bottom: 25px;
}

.inner-detail .enroll span {
  display: inline-block;
  margin-left: 25px;
  font-size: 14px;
}

.inner-detail .enroll i {
  color: #8854d0;
  font-size: 14px;
}

.inner-detail .enroll :is(i, span) {
  padding-bottom: 12px;
}

.inner-detail .enroll button {
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  width: 160px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(21, 21, 100);
  border: none;
}

#course-inner .desc-head {
  width: 60%;
  margin-top: 20px;
}

#course-inner .desc-head {
  display: flex;
  justify-content: space-between;
}

#course-inner .inner-desc .rating {
  color: #fdc93b;
  font-size: 13px;
  margin: 10px 0;
}

#course-inner .inner-desc p {
  font-size: 13px;
  color: #2d3436;
  line-height: 20px;
  margin-bottom: 20px;
}

#course-inner .price h3 {
  color: #8854d0;
  background-color: rgba(108, 92, 231, 0.2);
  padding: 5px;
  border-radius: 3px;
  font-size: 17px;
}

#course-inner .desc-head p {
  margin-bottom: 30px;
}

.instructor {
  margin: 20px 0 10px 0;
  padding: 0px 0px 15px 0;
}

.instructor_detail {
  display: flex;
}

.instructor_detail .image-container {
  width: 50px;
  height: 50px;
}

.instructor_detail .instructor-name {
  margin-left: 15px;
}

.instructor_detail .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#course-inner .overview {
  width: 70%;
}

#course-inner .overview b {
  font-size: 15px;
  display: block;
  margin: 12px 0 10px 0;
}

#course-inner .overview p {
  line-height: 28px;
  text-align: justify;
}

#course-inner .overview .learn {
  margin-top: 15px;
}

#course-inner .overview .learn h3 {
  font-size: 16px;
}

#course-inner .overview .learn i {
  font-size: 15px;
  color: #8854d0;
  margin-right: 12px;
}

/**************************************** Contact ******************************************/

#contact {
  display: flex;
  justify-content: space-around;
}

.getin {
  width: 330px;
}

#contact .getin h2 {
  color: rgb(21, 21, 100);
}

#contact .getin hr {
  margin: 8px 0;
}

#contact .getin h4 {
  padding-top: 12px;
  font-size: 15px;
}

#contact .getin p > i {
  margin-right: 12px;
  color: #76448a;
}

#contact .connect {
  display: flex;
  flex-direction: column;
  background-color: #eceaf5;
  padding: 30px;
  width: 50%;
  height: 450px;
}

#contact .connect input[placeholder="Your Name"] {
  margin-right: 30px;
  width: 40%;
}

#contact .connect input[placeholder="Your Email"] {
  width: 40%;
}

#contact :is(input, textarea) {
  margin-bottom: 20px;
  padding: 8px;
  width: 85%;
  border: none;
  background-color: #fff;
}

#contact :is(input, textarea):focus {
  outline: none;
}

#contact .connect button {
  width: 120px;
  padding: 10px;
  background-color: rgb(21, 21, 100);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#contact .connect h3 {
  margin-bottom: 0;
  color: rgb(21, 21, 100);
}

#contact .connect p {
  padding-bottom: 15px;
}

/********************************************** Responsive ********************************************/

/****************************** Tablet ***********************/

@media (max-width: 769px) {
  .section-pd {
    padding: 40px 20px;
  }

  .section-mr {
    margin: 40px 20px;
  }

  h3 {
    font-size: 17px;
  }

  /****************** Home Page Tablet view *********************/

  #navbar {
    height: 90px;
    padding: 20px;
  }

  #hero {
    height: 35vh;
  }

  /**** feature ****/

  #feature .feature-container {
    margin: 20px 0 40px 0;
  }

  .fe-box {
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
  }

  /***  course ***/

  #course {
    padding: 20px 40px;
  }

  #course .course-box {
    gap: 25px;
  }

  /*** registration *****/

  #registration {
    height: 40vh;
  }

  #registration .login {
    width: 50%;
  }

  /*** experts *****/

  #experts .profile .prof {
    width: 40%;
    margin-bottom: 20px;
  }

  /***** footer && footer bottom ***/

  #footer {
    padding: 40px;
    gap: 12px;
  }

  .col {
    height: 18vh;
    margin-bottom: 0px;
  }

  #footer .col span {
    margin-bottom: 12px;
  }

  .footer-bottom {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  #footer .col a p {
    padding-bottom: 10px;
  }

  #footer .col:nth-child(5) {
    height: 12vh;
  }

  /******** ABOUT  page*******/

  #banner {
    height: 20vh;
  }

  #Details .course-detail {
    margin: 80px 50px 80px;
  }

  #Details .course-detail {
    justify-content: space-between;
  }

  #trust {
    margin: 60px 20px 60px 20px;
  }

  #trust .image-container img {
    width: 70px;
  }

  #trust .image-container {
    margin: 20px;
  }

  /****************** Blog Page Tablet view *********************/
  /***** blog ****/
  /**** sblog ****/

  #sblog .course :is(.image, .course-desc) {
    width: 70%;
  }

  /****************** Course Page Tablet view *********************/

  /*** inner-course ****/

  .inner-detail {
    flex-direction: column;
  }

  .inner-detail .image-container {
    width: 80%;
  }

  .inner-detail .enroll {
    width: 60%;
    margin-top: 30px;
  }

  .inner-detail .enroll h3 {
    font-size: 18px;
  }

  #course-inner .desc-head {
    width: 90%;
    margin-top: 40px;
  }

  #course-inner .overview {
    width: 90%;
  }

  /****** Contact Us  ******/

  #contact {
    flex-direction: column;
  }

  .getin {
    width: 100%;
  }

  #contact .connect {
    width: 100%;
    margin-top: 30px;
  }
}

/****************************** Mobile Responsive ***********************/

@media (max-width: 430px) {
  /***navbar***/

  /* .mob-nav {
    display: block;
  } */

  h1 {
    font-size: 20px;
  }

  /****************** Home Page Mobile view *********************/

  /************* navbar **********/

  nav {
    display: none;
  }

  #navbar {
    height: 70px;
    padding: 15px;
  }

  #navbar .logo {
    height: 90px;
  }

  #navbar .logo img {
    width: 90px;
  }

  /************* hero section **********/

  #hero {
    height: 100%;
    padding: 30px 10px 20px 10px;
  }

  #hero p span {
    text-align: start;
  }

  #hero p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .btn {
    width: 145px;
    padding: 12px 5px;
  }

  /************* feature **********/

  .fe-box {
    width: 100%;
    margin-right: 0;
  }

  #feature .feature-container {
    justify-content: center;
  }

  /************* course **********/

  #course {
    padding: 40px 20px;
  }

  #course .course-box {
    grid-template-columns: 320px;
  }

  .img-container {
    width: 320px;
  }

  .course-box .price-tag {
    top: 45%;
  }

  /************* registration **********/

  #registration {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  #registration .login {
    margin-top: 20px;
    width: 80%;
  }

  .countdown .timer span {
    padding: 10px;
    width: 85px;
    margin: 10px 8px 0px 0px;
  }

  /************* experts **********/

  #experts .profile {
    gap: 20px;
  }

  #experts .profile .prof {
    height: 100%;
    width: 65%;
    background-color: #d1d8e0;
  }

  /************* footer **********/

  #footer {
    padding: 25px 15px;
    gap: 30px;
  }

  .col {
    margin: 12px;
  }

  #footer .col span {
    margin-bottom: 10px;
  }

  #footer .col a p {
    padding-bottom: 6px;
  }

  .col .mail input {
    width: 165px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: start;
    margin: 15px;
  }

  .footer-bottom p {
    margin-bottom: 20px;
  }

  /****************** About Page Mobile view *********************/

  #Details .course-detail {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px;
  }

  #Details .course-detail .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  #Details .course-detail .course-info {
    width: 100%;
  }

  #trust {
    margin: 40px 15px;
  }

  #trust .image-container {
    margin: 20px 0px;
  }

  #trust .image-container img {
    width: 50px;
  }

  /****************** Blog Page Mobile view *********************/

  #blog {
    flex-direction: column-reverse;
  }

  #blog .courses {
    width: 100%;
    margin-top: 30px;
  }

  #blog .categories {
    width: 70%;
  }

  /****************** Course Page Mobile view *********************/

  /***** Course Inner ****/

  #banner h1 {
    text-align: center;
    font-size: 20px;
  }

  .inner-detail {
    align-items: start;
  }

  .inner-detail .enroll {
    width: 80%;
  }

  /****************** Course Page Mobile view *********************/

  #contact .connect {
    height: 420px;
  }
}
